@model IEnumerable<Bot.AdminPanel.ViewModels.Correspondence.CorrespondenceViewModelforList>
@{
    ViewData["Title"] = "История сообщений";
}

<table class="table table-bordered table-sm js-data-table">
    <thead>
        <tr>
            <th><label asp-for="First().ReceivedTime"></label></th>
            <th><label asp-for="First().From"></label></th>
            <th><label asp-for="First().Message"></label></th>
            <th><label asp-for="First().ReplyMessage"></label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            <tr>
                <td data-order="@user.ReceivedTime.ToString("yyyyMMddHHmmss")">@user.ReceivedTime</td>
                <td>@user.From</td>
                <td>@user.Message</td>
                <td>@user.ReplyMessage</td>
            </tr>
        }
    </tbody>
</table>

@section PageJavascript {
    <script>
        $(function () {
            $('#menu-correspondence').addClass('active');
            $('#menu-correspondence').closest('li').addClass('menu-is-opening menu-open');
            $('#menu-correspondence-list').addClass('active');
        });</script>
}